/*personal computer*/
html,body{background-color:rgba(255,255,255);margin:0;padding:0;scroll-behavior:smooth;}
/*all*/
.sp{display:none;}
.invisible{display:none;}
    /*loader#loader-bg{}#loading{display:none;}*/
    #loading{display:none;}
/*header*/
.header{
    box-shadow:0px 1px 2px gray;
    animation-name:fadein1;
    animation-duration:1s;
    z-index:10;
    width:100%;
    height:120px;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.900);
    transition:0.5s; 
}
.headerscroll{
    background-color:rgba(255,255,255,0.8);
    height:80px;
}
header h2{float:left;width:15%;margin:0 3%;position:relative;}
.headsvg{
    /*-webkit-box-reflect:below;*/
    transition-duration:0.5s;
    position:relative;
    right:20px;
    top:14px;
}
.headsvgscroll{
    top:0;
}
.headlogo{
    display:none;
    user-select:none;
    background-color:rgba(255, 255, 255, 0.637);
    font-size:13px;
    color:rgb(0, 0, 0);
    float:left;
    position:relative;
    right:10px;
    bottom:3px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    transition-duration:0.3s;
    transition-timing-function:ease;
}
.inv1{
    color:rgba(255, 255, 255, 0);
    border:solid 1px rgba(255, 255, 255, 0);
    background-color:rgba(255, 255, 255, 0);
}
nav{
    position:relative;
    top:15px;
    display:block;
    transition:0.5s;
}
.navscroll{
    top:-6px;
}
nav li{
    width:10%;
    margin:0 1%;
    list-style:none;
    float:left;
}
.list {
    position: relative;
    padding:4px;
    border: 2px solid rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: all .3s;
}
.changecolor{
      color:black;
  }
.list::before,
.list::after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    content: '';
    transition: all .3s;
}
.list::before {
    border-top: 2px solid #3be5ae;
    border-bottom: 2px solid #3be5ae;
    transform: scale(0, 1);
}
.list::after {
    border-right: 2px solid #3be57c;
    border-left: 2px solid #3be5ae;
    transform: scale(1, 0);
}
  
.list:hover::after,
.list:hover::before {
    transform: scale(1);
}
nav li a{
    color:black;
    display:block;
    text-decoration:none;
    text-align:center;
}
nav li span{
    display:block;
    color:red;
    transition:0.5s;
}
.list:hover span{
    color:rgb(0, 182, 158);
}
/*contents*/
.container{
    height:auto;
}
.space{
    height:120px;
    width:100%;
}
.contentsheadback{
    width:100%;
    margin:0;
    position:absolute;
}
.contentshead{
    z-index:3;
    user-select:none;
    max-width:100%;
    font-size:20px;
    letter-spacing:10px;
    text-align:center;
    margin:50px 0 0;
    font-family:initial;
    position:relative;
}
.contentshead span{
    display:block;
    font-size:50px;
    margin:0;
    color:rgb(40, 201, 107);
    text-shadow:2px 2px 2px black;
    font-family:'Palatino Linotype';
}
.headback{
    box-shadow:0px 1px 1px gray;
    animation-name:fadein;
    animation-duration:1s;
    margin:0;
    position:relative;
    height:200px;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 0.041);
}
.headback1,.headback3{background-color:rgba(64,74,114,0.5);position:absolute;height:300px;width:300%;margin:0;}
.headback2,.headback4{background-color:rgba(179,209,233,0.5);position:absolute;height:300px;width:300%;margin:0;}
.headback1{left:-50%;bottom:23%;transform:rotate(15deg);}
.headback2{left:-50%;top:23%;transform:rotate(-15deg);}
.headback3{right:-50%;top:23%;transform:rotate(15deg);}
.headback4{right:-50%;bottom:23%;transform:rotate(-15deg);}

.contentse{
    overflow:hidden;
    line-height:45px;
    margin:0 5% 0;
    width:90%;
    animation-name:fadein;
    animation-duration:1s;
    z-index:2;
    height:auto;
    background-color:white;
    margin-top:10px;
}
.contentse p{margin-left:5%;}

/*about page*/
h2,h2 p{
    display:block;
    text-align:center;
}
.abse{
    float:left;
}
.member{
    float:left;
    width:100%;
    height:300px;
}
.uni{
    position:relative;
    left:320px;
}
.ble{
    position:relative;
    left:100px;
}
/*archive page*/
.imprecord{
    width:100%;
    height:350px;
    position:relative;
}
.allpage{
    display:block;
    float:left;
    background-color:gray;
    overflow:hidden;
    height:auto;
    width:100%;
}
.page{
    display:none;
    position:absolute;
    padding:0;
    margin:0 2% 0;
    width:96%;
}
.page1{
    display:initial;
}
.page dd,.page dt{
    display:block;
    position:relative;
    margin:0 0 -10px 10%;
    line-height:initial;
    font-size:20px;
}
.page dt{
    font-size:16px;
}
.page dd{
    font-size:18px;
}
.page span{
    width:100%;
    display:block;
    text-align:center;
}
.arnews{
    cursor:pointer;
    transition-duration:1s;
    transition-timing-function:ease-in-out;
    margin-top:10px;
    list-style:none;
    float:left;
    position:relative;
    width:calc(100% / 3 - 2%);
    margin:0 1% 1px;
    height:250px;
    overflow:hidden;
    /*visibility:hidden;*/
}
.up1{
    visibility:initial;
    display:initial;
}
.line2{
    display:none;
}
.arnews:hover{
    background-color:skyblue;
}
.img{
    padding:3% 5% 0;
    margin:0 5% -1em;
    width:80%;
    height:70%;
}
.newse{
    height:90px;
    overflow:hidden;
}
.pagenav{
    visibility:hidden;
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}
.r1,.r2,.r3,.r4{
    visibility:hidden;
    cursor: pointer;
    margin:0 1% 0;
    padding:5px;
    padding-top:0;
    padding-bottom:0;
    border:solid blueviolet 1px;
}

/*products*/
.manuf li{
    float:left;
}


/*contact page*/
.twitterarea{
    height:400px;
    width:40%;
    overflow:auto;
    margin:0 5% 0;
    display:inline-block;
}
.twitterright{
    width:40%;
    height:400px;
    float:left;
    margin:0 5% 0;
}
.mapcon{
    display:none;
}
.map{
    display:block;
    display:none;
    width:40%;
    height:400px;
    margin:0 5% 0;
}
.twiimg{
    position:relative;
    top:15px;
}

/*scroll top*/
.topscroll{
    z-index:10;
    user-select:none;
    background-color:rgba(0, 0, 0, 0.5);
    padding-left:3px;
    padding-right:3px;
    padding-bottom:20px;
    position:fixed;
    float:left;
    bottom:30px;
    right:-100px;
    transition:1s;
    animation-timing-function:ease-in-out;
}
.topscroll:hover{
    background-color:rgb(31, 5, 0);
}
.topscroll:hover .toptext{
    color:rgb(255, 255, 255);
}
.topscroll:hover .mark{
    color:rgb(255, 255, 255);
}
.topscrollscroll{
    bottom:30px;
    right:0;
}
.toptext{
    color:white;
    position:relative;
    top:10px;
}
.mark{
    font-size:20px;
    color:white;
    position:relative;
    transform:rotateZ(270deg);
    bottom:20px;
}
/*button*/
.buttonback{
    margin-top:0px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0);
    overflow:hidden;
}
.button {
    user-select:initial;
    font-size:18px;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(51, 51, 51);
    color: #333;
    overflow: hidden;
  }
  .button:hover {
    color: #fff;
  }
  .button::after {
    top: -100%;
    width: 100%;
    height: 100%;
  }
  .button:hover::after {
    top: 0;
    background-color: #333;
  }
  .button::before,
  .button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .button,
  .button::before,
  .button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
.buttonback2{
    margin-top:30px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0);
    overflow:hidden;
}
a.button2 {
    line-height:30px;
    user-select:initial;
	display: inline-block;
    position: relative;
    width:120px;
    padding: 5px;
    font-family:'Garamond';
    font-size:20px;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
    border:2px solid #222222;
	background: rgba(255, 255, 255, 0.452);
	overflow: hidden;
	z-index: 1 !important;
}
a.button2:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #222222;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.button2:hover {
	color: #ffffff;
}
a.button2:hover:after {
	height: 300%;
	opacity: 1;
}
a.button2:active:after {
	height: 350%;
	opacity: 1;
}

.skefab{
    display:block;
}
.styly{
    display:black;
    height:400px;
    width:100%;
}
.booth{
    display:black;
    height:400px;
    width:100%;
}
img:hover{
    opacity:0.7;
}
.manuf li{
    list-style:none;
}
.skefab iframe{
        width:100%;
        height:initial;
    }


/*footer*/
footer{
    width:100%;
    height:120px;
    float:left;
    background-color:rgba(255,255,255);
}
.fse{
    user-select:none;
    position:relative;
    display:inline-block;
}
.footimg{
    position:absolute;
    display:inline-block;
    right:100px;
}
.twittericon{
    position:relative;
    top:14px;
}
.youtubeicon{
    position:relative;
}
.vricon{
    position:relative;
    top:20px;
    left:30px;
    float:left;
}

/*smart phone*/@media screen and  (max-width:480px){
    .sp{
        display:initial;
    }
    .pc{
        display:none;
    }
    .arnews{
        width:90%;
    }
    .imprecord{
        width:100%;
        height:1000px;
        position:relative;
    }
    .ble{
        display:none;
    }
    .headersp{
        box-shadow:0px 1px 2px gray;
        overflow:hidden;
        z-index:5;
        position:fixed;
        background-color:rgba(255, 255, 255, 0.74);
        width:100%;
        height:50px;
        display:block;
    }
    .space{
        height:50px;
    }
    .headopen{
        display:block;
        transition-duration:0.7s;
        /* /*display:none;*/
        position:fixed;
        font-size:25px;
        background-color:rgba(0, 0, 0, 0.856);
        width:100%;
        height:100%;
        left:-120%;
        list-style:none;
        z-index:20;
        margin:0;
    }
    .listsp{
        color:rgb(255, 255, 255);
        text-decoration:none;
        display:block;
        margin-bottom:20px;
        overflow:hidden;
        margin-top:10px;
    }
    .backlist{
        margin-top:200%;
        transition-delay:0.3s;
        transition-duration:0.7s;
        animation-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
    }
    .backlist-isopen{
        margin-top:0px;
    }
    .listsp span{
        display:block;
        color:red;
    }
    .is-open{
        display:initial;
        left:0;
    }
    .spnav{
        line-height:10px;
        width:87%;
        height:100%;
        display:inline-block;
        float:left;
        font-stretch:ultra-expanded;
    }
    #humberger {
        top:8px;
        left:8px;
        position: relative;
        height: 24px;
        width: 10%;
        display: inline-block;
        box-sizing: border-box;
      }
      

      #humbergerback{
          position:relative;
          height:100%;
          width:10%;
      }
      #humberger .hum1,.hum2,.hum3 {
        position: absolute;
        left: 0;
        height: 3px;
        width: 33px;
        background-color: #444;
        border-radius: 1px;
        display: inline-block;
        box-sizing: border-box;
      }
      .hum1{top:0;}.hum2{top:10px;}.hum3{bottom:0px;}
      .hum1,.hum2,.hum3{transition-duration:0.5s;}
      .hum1r{transform:rotateZ(45deg);top:10px;}
      .hum2r{background-color:rgba(255, 255, 255, 0);}
      .hum3r{transform:rotateZ(-45deg);bottom:10px;}
    .spjoin{
        z-index:11;
        text-align:center;
        height:100%;
        background-color:rgba(7, 0, 105, 0.541);
        color:rgb(255, 255, 255);
        width:13%;
        text-decoration:none;
        display:inline-block;
        position:relative;
    }
    .joinbtn{
        display:block;
        font-size:15px;
    }
    .joinbtn span{
        display:block;
        font-size:13px;
    }

    .topscroll{
        padding:10px;
        border-radius:40px;
        background-color:rgba(0, 0, 0, 0);
    }
    .topscroll:hover{
        border:solid 1px blue;
        background-color:initial;
    }
    .topscroll:hover .mark{
        color:initial;
    }
    .mark{
        color:black;
        font-size:30px;
        bottom:0px;
    }

    .headback{
        animation-name:fadein;
        animation-duration:1s;
        margin:0;
        position:relative;
        height:150px;
        overflow:hidden;
        background-color:rgba(0, 0, 0, 0.041);
    }
    .headback1,.headback3{background-color:#404a7280;position:absolute;height:200px;width:300%;margin:0;}
    .headback2,.headback4{background-color:#b3d1e980;position:absolute;height:200px;width:300%;margin:0;}
    .headback1{left:-30%;bottom:23%;transform:rotate(20deg);}
    .headback2{left:-30%;top:23%;transform:rotate(-20deg);}
    .headback3{right:-30%;top:23%;transform:rotate(20deg);}
    .headback4{right:-30%;bottom:23%;transform:rotate(-20deg);}
    .background{
        margin-left:10%;
        margin-right:10%;
    }
    .contentshead{
        letter-spacing:initial;
        margin-top:45px;
        font-size:17px;
    }
    .contentshead span{
        letter-spacing:10px;
        display:block;
        font-size:40px;
        color:rgb(40, 201, 107);
        text-shadow:2px 2px 2px black;
        font-family:'Palatino Linotype';
    }

    /*contact page sp*/
    .twitterarea{
        height:350px;
        width:90%;
        overflow:auto;
        margin:0 5% 0;
        display:block;
    }
    .twitterright{
        width:90%;
        height:350px;
        float:left;
        margin:0 5% 0;
    }
    .map{
        display:block;
        width:90%;
        height:400px;
        margin:0 5% 0;
    }
    .styly img,.skefab img,.booth img{
        width:100%;
    }
    .skefab ul,.styly ul,.booth ul{
        margin:0;
        padding:0;
    }
　　.newse dd{
        margin-top:0.8em;
        line-height:1em;
    }
}



/*keyframe set*/

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    }
@keyframes fadein1 {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        }
